# These are some aliases
#

#Directory aliases

alias tmp='cd /tmp'

#in the CLI

alias cl='clear'
alias rb='ruby'
alias py='python'

# Apps

alias mvim='open -a MacVim.app'
alias rubyserver='ruby -run -e httpd . -p'

alias nmutt='neomutt'

# Git
alias send-patch='git send-email --from="<sender@mail.com>" --to="<receipient@mail.com>"'
