# These are some aliases
#

#Directory aliases

alias tmp='cd /tmp'

#in the CLI

alias cl='clear'
alias rb='ruby'
alias py='python'
#for Apps

# Apps

alias mvim='open -a MacVim.app'
alias subl='/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl'
alias rubyserver='ruby -run -e httpd . -p'

